fastapi==0.139.2
gymnasium==1.3.0
joblib==1.5.3
langchain_community==0.4.2
langchain_google_genai==4.3.1
langchain_text_splitters==1.1.2
langgraph==1.2.9
lightgbm==4.7.0
numpy==2.5.1
pandapower==3.4.0
pandas==3.0.3
pydantic==2.13.4
python-dotenv==1.2.2
pytorch_forecasting==1.8.0
requests==2.34.2
shap==0.49.1
stable_baselines3==2.9.0
torch==2.11.0
uvicorn==0.51.0
